<!-- NAV BAR -->
<nav class="navbar navbar-expand-md sticky-top w-100">
    <a class="navbar-brand" href="/home">
        <img src="assets/images/logo-sm.png" width="50" height="34" />&nbsp;TechBet
    </a>

    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#main-navbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="navbar-collapse collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto bd-navbar-nav">
            <li class="nav-item" *ngFor="let route of getRoutes()">
                <a class="nav-link" [routerLink]="route.path" routerLinkActive="active">{{ route.data.title }}</a>
            </li>
        </ul>

        <span id="user-landing" >
            <ng-container *ngIf="user?.identity; then badge; else login"></ng-container>
        </span>
    </div>

</nav>


<!-- (if user exists) BUTTON FOR AUTHENTICATED USER -->
<ng-template #badge>
    <div id="user-badge" class="btn-group mr-4" role="group" >
        <button type="button" 
            class="btn btn-outline-dark dropdown-toggle" 
            data-toggle="dropdown">
            <span class="fa fa-user-o mr-2"></span>
            {{ user | displayName }}
        </button>
        <div class="dropdown-menu">
            <div align="center">Account Balance: {{ user.account.balance | currency }}</div>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item" (click)="onLogout()">Sign Out</a>
        </div>
    </div>
</ng-template>

<!-- (else) LOGIN FORM WHEN NO AUTHENTICATED USER -->
<ng-template #login>
    <form id="login-form" class="form-inline">
        <button type="button" class="btn btn-success m-1" (click)="onRegister()">Open Account</button>
        <div class="my-1 ml-1 mr-2"><span class="fa fa-user-o fa-lg text-dark"></span></div>
        <input type="text" id="identity" placeholder="user@email.com" class="form-control m-1" name="identity" [(ngModel)]="form.identity" (focus)="onLoginFormFocus()" (blur)="onLoginFormBlur()"/>
        <input type="password" id="password" placeholder="password" class="form-control m-1" name="password" [(ngModel)]="form.password" (focus)="onLoginFormFocus()" (blur)="onLoginFormBlur()"/>
        <button type="button" class="btn btn-outline-dark m-1" (click)="onLogin()">Login</button>
    </form>
</ng-template>