<div class="row mb-4">
    <img src="assets/images/logo-lg.png" class="rounded mx-auto d-block"/>
   

</div>

<p>
    Welcome to TechBet! We are a website that helps you bet on sports. Since betting on sports is illegal
    in the United States of America, we will not accept real currency as bets on this website. Here at Techbet, 
    we are simply avid bettors who follow this industry and have the knowledge most do not. 
</p>
<img src="assets/images/SportsBetting.jpg" class="rounded mx-auto d-block"/>
   
            <h2>History of Sports Betting</h2>
            <p>In 1992, Congress passed the Professional and Amateur Sports 
                Protection Act (PASPA), effectively outlawing sports betting in most U.S. states and tribal 
                sovereign nations. A few jurisdictions that previously allowed sports betting, 
                including Nevada, were grandfathered into the law. Today, however, 
                Nevada is the only state that offers legal, regulated, 
                single-game betting on both college and professional sports.
           
            </p>

