<div class="row">
    <h1 class="display-4">
      <img src="../../assets/images/football-icon.png" />
      NFL
    </h1>
</div>
<hr class="my-3" />

<table class="table table-hover">
  <colgroup>
    <col width="5%" />
    <col width="20%" />
    <col width="5%" />
    <col width="*" />
    <col width="10%" />
    <col width="15%" />
    <col width="15%" />
  </colgroup>

	<thead class="thead-light">
	  <tr>
      <th class="text-center"><span class="fa fa-pencil fa-lg"></span></th>
		  <th class="text-center">Scheduled</th>
      <th class="text-center"><span class="fa fa-home fa-lg"></span></th>
		  <th class="text-center">Teams</th>
      <th class="text-center">Spreads</th>
      <th class="text-center">Money Lines</th>
      <th class="text-center">Total Points</th>
	  </tr>
	</thead>
    
  <tbody>
    <tr *ngFor="let game of getScheduledGames()">

      <td class="text-center align-middle">
          <button type="button" class="btn btn-outline-dark" (click)="onEditClick(game)">
            <span class="fa fa-pencil"></span>
          </button>
      </td>

      <td class="text-center align-middle ">
          <strong>{{ game.scheduled | date:'MM/dd/yyyy hh:mm a' }}</strong><br />
          {{ game.venue.name }}<br />
          <a [href]="getMapUrl(game.venue)" target="_blank">
              <small>
                <span class="fa fa-map-marker mr-1"></span>
                {{ game.venue | cityState }}
            </small>
          </a>
      </td>

      <td class="text-center align-top">
          <span class="fa fa-home fa-lg"></span>
      </td>

      <td class="text-center align-top">
          <span class="font-weight-bold">
              {{ game.homeTeam.name }}&nbsp;({{ game.homeTeam.alias }})
          </span><br />
          - vs -<br />
          {{ game.awayTeam.name }}&nbsp;({{ game.awayTeam.alias }})
      </td>

      <td class="text-center align-top">
          <app-styled-number [number]="game.homeSpread"></app-styled-number>
            <br /><br />
          <app-styled-number [number]="game.awaySpread"></app-styled-number>
      </td>

      <td class="text-center align-top">
        <button type="button" class="btn btn-outline-warning w-50">
          <app-styled-number [number]="game.homeMoneyLine"></app-styled-number>
        </button>
        <button type="button" class="btn btn-outline-warning w-50">
          <app-styled-number [number]="game.awayMoneyLine"></app-styled-number>
        </button>
      </td>

      <td class="text-center align-middle">
          <app-styled-number [number]="game.total"></app-styled-number>
      </td>
    </tr>
  </tbody>

  <tfoot>
  </tfoot>
</table>

<app-game-detail></app-game-detail>