<html>

        <div>
                <img src="assets/images/sportsbook.jpg" height="220" width="360" align = "center">
            </div>
            <h2>
        <strong>Straight</strong>
        </h2>
        
        <p>
        The most common type of sports wager is on the final score of a single game, known as a straight wager. One team is typically favored over another by a point spread; the favorite gives the underdog points as a head start, for betting purposes. The favorite is always indicated by a minus sign (-3) and the underdog by a plus sign (+3). The amount of points you must give or take is estimated to be the amount, which will generate equal wagering on both the underdog and the favorite. For betting purposes, the result of the game is determined by taking the actual score and subtracting points from the favorite's score or adding points to the underdog's score. So, a favorite can win the actual game but lose the bet by not covering the spread; an underdog can lose the actual game but win for betting purposes by covering the spread.
        </p>
        
        <h2>
        <strong>Totals</strong>
        </h2>
        
        <p>
        You can also bet whether the combined number of points or goals scored by the two teams in the
         game will be over or under the total set by the oddsmaker.
          For example, if the total is 42 and you believe that the combined points scored
           by the two teams will exceed that number, you would bet over. You would bet under if you 
           believe the total points score will be less than 42.
        </p>
        
        <h2>
        <strong>Money Line</strong>
        </h2>
        
        <p>
        A money line is used in addition to or instead of a point spread on a match up between two teams.
         In this case, you must bet more to wager on the favorite. 
         For example, the New York Yankees are a -150 favorite over the Colorado Rockies. 
         You must "lay" $150 in order to win $100. If New York loses, you lose $150. 
         However, you could bet on Colorado , in which case you would lay $100 in order to win 
         $140 (10 cent line). If Colorado loses, you only lose $100, and if Colorado wins, 
         you would win $140. BetOnline offers both money line and point spread options on most sports.
        </p>
    
         </html>