.btn:hover {
	cursor: pointer;
}

.revature-navbar {
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(71, 76, 85, 0.95);
}

.revature-navbar .nav-link,
.revature-navbar .nav-link,:hover,
.revature-navbar .nav-link,:visited,
.revature-navbar .nav-link,:active,
.revature-navbar .navbar-brand, 
.revature-navbar .navbar-brand:hover,
.revature-navbar .navbar-brand:visited,
.navbar-toggler-icon,
.navbar-toggler-icon:hover,
.navbar-toggler-icon:visited,
.navbar-toggler-icon:active
{
	outline: none;
}

.revature-navbar .navbar-brand, 
.revature-navbar .navbar-brand:hover,
.revature-navbar .navbar-brand:visited
{
	color: rgb(242, 106, 37);
}

.revature-navbar .navbar-brand {
	font-size: 1.5em;
	border: 0;
}

.revature-navbar .nav-link {
	text-transform: uppercase;
	font-size: 1.0em;
	border-bottom:2px solid rgba(255, 255, 255, 0);
	font-weight: 700;
}

.revature-navbar .nav-link:hover {
	border-bottom:2px solid rgb(242, 106, 37);
}

p {
	text-align: justify;
}