<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<!-- Spring will look for beans to manage -->
	<context:component-scan base-package="com.cloudgames"></context:component-scan>

	<!-- Enabling Annotation configuration of Spring MVC -->
	<mvc:annotation-driven />

	<!-- Enable @Transactional -->
	<tx:annotation-driven />

	<!-- Serve static content in a static manner -->
	<mvc:resources location="/assets/**" mapping="/angular/dist/assets/"></mvc:resources>
	
	<mvc:cors>
	    <mvc:mapping path="/**"
	        allowed-origins="http://localhost:4200"
	        allowed-methods="GET, POST, PUT, DELETE"
	        allowed-headers="Content-Type"
	        allow-credentials="true" />
	</mvc:cors>

	
	<bean id="DatabasePool" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://revature-cluster-1.cluster-cue7hrs2nuxl.us-east-1.rds.amazonaws.com:3306/bet" />
		<property name="username" value="sa" />
		<property name="password" value="hibernate5" />
	</bean>

	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<property name="dataSource" ref="DatabasePool" />
		<property name="packagesToScan" value="com.cloudgames.entities" />
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.use_sql_comments">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.pool_size">5</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate5.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
		<property name="nestedTransactionAllowed" value="true" />
	</bean>
</beans>